extends layout

block title
  title About Us - Ballinlough Dental Care 1

block content
  section#wrapper
    header
      .inner
        h2 About Us
        p
          | Meet Our team of highly trained staff are on hand to take care
          | of you.
    section#one.wrapper
      .inner
        section.features
          article
            span.image: img(src='images/dt.jpg' alt='')
            h3.major Diarmuid Twomey
            p
              | Diarmuid is a native of Ballincollig, Co. Cork. He
              | graduated from University College Cork in 2003. He spent
              | 5 years in London following graduation working in NHS
              | and private practice. He returned to Ireland where he
              | spent 5 years working in general practice in Galway. In
              | March 2014 he returned to Cork to take over the practice
              | from Hilary.
          article
            span.image: img(src='images/hh.jpg', alt='')
            h3.major Hilary Hogan
            p
              | Hilary set up the practice in 1983 following a few
              | years working around Cork City after he graduated from
              | University College Cork in 1981. Hilary is local to the
              | area after growing up on the Boreenmanna Road.
          article
            span.image: img(src='images/am.jpg', alt='')
            h3.major Andrea Meehan
            p
              | Andrea is from Little Island and has worked at the
              | practice for the last ten years. She qualified from Cork
              | University Dental Hospital and School in 2004.
          article
            span.image: img(src='images/nr.jpg', alt='')
            h3.major Naomh Royal
            p
              | Naomh joined the practice in 2015 after training and
              | working as a dental nurse in her hometown of Carrigaline
              | for the previous four years. She graduated from Cork
              | University Dental Hospital and School in 2015.

    section#two.wrapper.spotlight.alt.style1
      .inner
        span.image: img(src='images/seminar.jpg')
        .content
          h3.major Training and Expertise
          p
            | At Ballinlough Dental Care we take great pride in
            | providing the care you need to keep your smile beautiful and
            | your mouth healthy. To do this we are committed to
            | continuing education.
          p
            | To keep informed of new techniques,
            | new technologies and the latest innovations, all members of
            | the team regularly attend educational and training
            | programmes in Ireland and the U.K.

    section#three.wrapper.spotlight.style2
      .inner
        span.image: img(src='images/infection-control.jpg')
        .content
          h3.major Infection Control
          p
            | Ballinlough Dental Care has passed HSE inspection, is
            | HIQA compliant and follows the same HIQA sterilization
            | recommendations used for hospitals.

    section#four.wrapper.spotlight.alt.style3
      .inner
        span.image: img(src='images/ida-idc.png')
        .content
          h3.major Membership of Professional Bodies
          p
            | Diarmuid and Hilary are members of the Irish Dental
            | Association and are registered with the Irish Dental
            | Council.
