extends layout

block title
  title Fees - Ballinlough Dental Care

block content
  style.
    table td:last-of-type {
      text-align: right;
    }
  section#wrapper
    header
      .inner
        h2 Fees
        p
          | The following is a list of costs for various procedures.
        em
          | Please note that these are maximum fees only and
          | will vary depending on the time required per treatment.
          | Discounts will ge given for multiple treatments.
          | This will be at the discretion of the dentist.
    .wrapper
      .inner
        table
            tr
              th Examination (including x-rays)
              td &euro;50
            tr
              th Scale and Polish
              td &euro;50
            tr
              th Exam, Scale and Polish
              td &euro;80
            tr
              th Prescription only
              td &euro;25
            tr
              th Consultation (including x-ray)
              td &euro;30
            tr
              th Prolonged Gum Treatment with L.A. (per quadrant)
              td &euro;50
        h3 Fillings
        table
          tbody
            tr
              th Silver Fillings
              td &euro;80
            tr
              th White Fillings
              td &euro;80 - &euro;120
        h3 Tooth Extraction
        table
          tbody
            tr
              th Routine
              td &euro;80
            tr
              th Surgical/Emergency
              td &euro;120
        h3 Dentures
        table
          tbody
            tr
              th Partial Acrylic
              td &euro;350 - &euro;450
            tr
              th Chrome Denture
              td &euro;950
            tr
              th
                | Full Upper 
                em and
                |  Lower
              td &euro;950
            tr
              th
                | Full Upper 
                em or
                |  Lower
              td &euro;500
            tr
              th Denture Repairs/Additions
              td &euro;80
            tr
              td per addition, add
              td &euro;10
            tr
              th Denture Reline
              td &euro;160
        h3 Dental Crown and Bridgework
        table
          tbody
            tr
              th dental Crown
              td &euro;750
            tr
              td for gold, add
              td &euro;100
            tr
              td for post and core, add
              td &euro;100
            tr
              th Dental Bridge (per tooth)
              td &euro;600
            tr
              th Maryland Bridge
              td &euro;600
            tr
              th Veneers
              td &euro;500
            tr
              th Recement Crown
              td &euro;60
            tr
              th Recement Bridge (per tooth)
              td &euro;60
        h3 Miscellaneous
        table
          tbody
            tr
              th Full Mouth Teeth Whitening
              td &euro;250
            tr
              th Top-up Tooth Whitening Kit
              td &euro;50 - &euro;90
            tr
              th Sports Mouthguard/Gumshield
              td &euro;80
            tr
              th Biteguard
              td &euro;120
        h3 Children&apos;s Fees
        table
          tbody
            tr
              th Exam (under 5)
              td Free
            tr
              th Exam (under 18)
              td &euro;30
            tr
              th Scale and Polish (under 18)
              td &euro;20
            tr
              th Baby-tooth Extraction/Filling
              td &euro;50
            tr
              th Fissure Sealant
              td &euro;25

        h3.major P.R.S.I

        p
          | Patients who qualify under the PRSI/PPS Dental Scheme are
          | entitled to one free examination per year.

        h3.major Medical Cards

        p
          | Adults over 16 years of age who have a full medical card
          | are entitled to one dental examination per year free of
          | charge. They are entitled to extractions and prescriptions
          | for dental/oral infections free of charge. They are entitled
          | in certain circumstances to dentures and a limited number of
          | fillings free of charge. Please contact our dental practice
          | for further information.
