grid(padding = 20px)
  margin 0 0 padding 0
  &:after
    content ""
    display table
    cleat both

  column(n, t)
    float left
    padding-right padding
    &:last-of-type
      padding-right 0
