@import "https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic"

font1 = "Source Sans Pro"
font2 = "Raleway"

color1  = #1d2053
color2  = #224096
color3  = #1e1a19
color4  = #223570
color5  = #fdfdfd
color6  = #fefefe
color7  = #ffffff
color8  = #24397a
color9  = #204097
color10 = #f8f8f8
color11 = #213981
color12 = #efefef
color13 = #fffeff
color14 = #acacac
color15 = #c2c0c1
color16 = #1b1d1c
color17 = #1d1717
color18 = #1e1e1e
color19 = #1f1d1e
color20 = #7b1f2e
color21 = #171516
color22 = #211917
color23 = #214093
color24 = #282423
color25 = #5c5a5b
color26 = #231f20
color27 = #1e2156

body
  font-family font1
h1, label, button, nav
  font-family font2
