extends layout

block content
  #box.missing
    :markdown
      # Oops ~ 404 (page not found)

      The page you're looking for could not be found! Check the address, and try
      again, or use your browser's back button.
