extends layout

block content
  #box.error
    :markdown
      # Uh oh, error!

      There was an error on the server. The maintenance team probably already
      know, and will be on the case already. In the meantime, try going back
      with your browser's 'back' button.
