extends layout.jade

block content
  article#contact
    include:md ../content/contact.md
  
  form(action="/contact")
    p
      label(for="name") Name
      input#name(type="text" name="name" placeholder="Your name")
    p
      label(for="phone") Phone
      input#phone(type="tel" name="phone" placeholder="Your phone number")
    p
      label(for="email") E-mail
      input#email(type="email" name="email" placeholder="Your e-mail address")
    p
      label(for="query") Your query
      textarea#query(type="text" name="query" placeholder="How can we help?" rows="3")
    p
      button(type="submit") Submit

