doctype html
html
  head
    title ✎ Ballinlough Dental Care
    link(rel='stylesheet', href='/style.css')
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    style
      :less
        body {
        }
    script
      :coffee
        $ ->
          console.log('Hi')
  body
    ul#pages
    textarea#markdown
    article#html

