doctype html
html
  head
    title Ballinlough Dental Care
    link(rel='stylesheet', href='/style.css')
    script(src='/application.js')
    if admin
      script(src='/admin.js')
  body
    header
      :markdown
        # Ballinlough Dental Care

        Looking after the dental health of the people of Ballinlough and its
        surrounding areas for over 30 years

      #phone-number
        a(href="tel:+353214965917") (021) 496 5917
      #social-media
        a.email(href="mailto:ballinloughdentalcare@gmail.com") ✉
        a(href="https://www.facebook.com/ballinloughdentalcare")
          img(src="/facebook.png")
        a(href="https://plus.google.com/115736425629046441035")
          img(src="/gplus.png")
        a(href="https://twitter.com/ballinloughdent")
          img(src="/twitter.png")

    block content

    footer
      :markdown
        © 2014 Ballinlough Dental Services, all rights reserved
