doctype html
html
  head
    title Ballinlough Dental Care
    link(rel='stylesheet', href='/style.css')
  body
    header
      :markdown
        # Ballinlough Dental Care

        Looking after the dental health of the people of Ballinlough and its
        surrounding areas for over 30 years

    block content

    footer
      :markdown
        © 2014 Ballinlough Dental Services, all rights reserved
