doctype html
html
  head
    title Ballinlough Dental Care
    link(rel='stylesheet', href='/style.css')
  body
    header
      :markdown
        Ballinlough Dental Care
        =======================

        A dental practice in Ballinlough which provides dental care to all
        members of the family.

    :markdown
      Dental Services Provided
      ------------------------

      * ### Family and Children
        Dental Care with an emphasis on prevention.

      * ### General
        General dentistry, including cleanings, scale and polish, fillings
        and dentures.

      * ### Cosmetic
        Cosmetic Dentistry including dental veneers and tooth whitening

      * ### Crowns and bridgework
        Finest 28ct ruby-encrusted crowns forged and massive load bearing
        suspension bridges crafted on demand by our dedicated technicians.

      * ### Endodontic/Root-canal
        Our highly trained surgeons will scrape the nerve endings from your
        skull

      * ### Treatment of periodontal /gum disease
        Scabby gums? No problem! We'll replace them with bubble gum, which
        doesn't bleed or develop scurvy.

      * ### Oral surgery
        Nothing nicer than having pieces of your mouth sliced open and sewn
        back together.

      * ### Oral cancer screening
        Prostate exams for your head - you can never be too careful!

      * ### Medical card holders welcome
        If you're lucky enough to have one, we'll take the government's
        money instead of yours.

      ## Opening Hours

      |             |                   |
      |-------------|-------------------|
      | Monday      |  9.30am –  5.30pm |
      | Tuesday     |  9.30am –  5.30pm |
      | Wednesday   |  2pm    –  7.30pm |
      | Thursday    |  2pm    –  7.30pm |
      | Friday      |  9.30am –  5.30pm |
      | Saturday    |  9.30am – 12.30pm |

      We accept ![All credit cards](/creditcards.png)

      ## Prices

      You can download a full list of our prices as a PDF document by clicking
      the button.
      [Prices](/prices.pdf)

    footer
      :markdown
        © 2014 Ballinlough Dental Services, all rights reserved
