doctype html
html
  head
    title Ballinlough Dental Care
    link(rel='stylesheet', href='/style.css')
  body(class="#{page}")
    header
      :markdown
        # Ballinlough Dental Care
      nav
        :markdown
          * [Welcome]( /index "Home page" )
          * [About Us]( /about "About your dental care team" )
          * [Location]( /location "Where to find us" )
          * [Prices]( /prices "The latest price list" )

    article(id="#{page}")
      block content

    footer
      :markdown
        © 2014 Ballinlough Dental Services, all rights reserved
