doctype html
html
  head
    title Ballinlough Dental Care
    link(rel='stylesheet', href='/style.css')
  body(class="#{page}")
    header
      h1 Ballinlough Dental Care
      nav
        ul
          li
            a(href='/index.html' title='Home') Welcome
          li
            a(href='/about.html' title='About Us') About Us
          li
            a(href='/location.html' title='Location') Location
          li
            a(href='/prices.html' title='Prices') Prices
    article
      block content
