extends layout

block content
  section
    :markdown
      # Prices

      |                                   |             |
      |-----------------------------------|-------------|
      | Examination (including x-rays)    | €50         |
      | Scale & Polish                    | €50         |
      | Exam, Scale & Polish              | €80         |
      | Prescription only                 | €25         |
      | X-Ray only                        | €20         |

      ## Fillings

      |                                   |             |
      |-----------------------------------|-------------|
      | Silver fillings                   | €80         |
      | White fillings                    | €80 - €120  |

      ## Extractions

      |                                   |             |
      |-----------------------------------|-------------|
      | Routine                           | €80         |
      | Surgical/Emergency                | €120        |
      
      ## Root Canal Treatment

      |                                   |             |
      |-----------------------------------|-------------|
      | Anterior                          | €350        |
      | Premolar                          | €450        |
      
      ## Dentures

      |                                   |             |
      |-----------------------------------|-------------|
      | Partial Acrylic                   | €350 – €450 |
      | Chrome denture                    | €950        |
      | Full upper and lower              | €950        |
      | Full upper or lower               | €500        |
      | Denture repairs                   | €80         |

      ## Crown & Bridgework

      |                                   |             |
      |-----------------------------------|-------------|
      | Crowns                            | €750        |
      | ... for gold, add                 | €100        |
      | ... for post & core, add          | €100        |
      | Bridge (per tooth)                | €650        |
      | Veneers                           | €500        |
      | Recement crown                    | €80         |

      |                                   |             |
      |-----------------------------------|-------------|
      | Full mouth tooth whitening        | €299        |
      | Sports gumshield                  | €80         |
      | Biteguard                         | €150        |
      
      ## Children Fees

      |                                   |             |
      |-----------------------------------|-------------|
      | Exam under 5                      | €0 (free)   |
      | Exam under 16                     | €30         |
      | Scale and polish under 16         | €20         |
      | Baby tooth extraction or filling  | €50         |
      | Fissure sealant                   | €25         |
