
/* line 224 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003224}}

/* line 1 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/stylus/lib/functions/index.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/stylus\/lib\/functions\/index\.styl}line{font-family:\000031}}

/* line 286 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/stylus/lib/functions/index.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/stylus\/lib\/functions\/index\.styl}line{font-family:\00003286}}

/* line 13 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/index.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/index\.styl}line{font-family:\0000313}}

/* line 13 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/index.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/index\.styl}line{font-family:\0000313}}

/* line 2 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/border.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/border\.styl}line{font-family:\000032}}

/* line 11 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/border.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/border\.styl}line{font-family:\0000311}}

/* line 2 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/clearfix.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/clearfix\.styl}line{font-family:\000032}}

/* line 29 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/clearfix.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/clearfix\.styl}line{font-family:\0000329}}

/* line 2 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/color-image.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/color-image\.styl}line{font-family:\000032}}

/* line 5 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/color-image.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/color-image\.styl}line{font-family:\000035}}

/* line 1 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/flex.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/flex\.styl}line{font-family:\000031}}

/* line 196 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/flex.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/flex\.styl}line{font-family:\00003196}}

/* line 91 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/gradients.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/gradients\.styl}line{font-family:\0000391}}

/* line 91 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/gradients.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/gradients\.styl}line{font-family:\0000391}}

/* line 1 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/config.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/config\.styl}line{font-family:\000031}}

/* line 11 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/config.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/config\.styl}line{font-family:\0000311}}

/* line 2 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/iconic.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/iconic\.styl}line{font-family:\000032}}

/* line 8 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/iconic.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/iconic\.styl}line{font-family:\000038}}

/* line 2 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/image.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/image\.styl}line{font-family:\000032}}

/* line 26 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/image.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/image\.styl}line{font-family:\0000326}}

/* line 1 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/overflow.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/overflow\.styl}line{font-family:\000031}}

/* line 20 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/overflow.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/overflow\.styl}line{font-family:\0000320}}

/* line 3 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/positions.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/positions\.styl}line{font-family:\000033}}

/* line 66 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/positions.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/positions\.styl}line{font-family:\0000366}}

/* line 3 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\000033}}

/* line 78 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000378}}

/* line 5 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/text/index.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/text\/index\.styl}line{font-family:\000035}}

/* line 5 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/text/index.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/text\/index\.styl}line{font-family:\000035}}

/* line 2 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/text/aliases.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/text\/aliases\.styl}line{font-family:\000032}}

/* line 13 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/text/aliases.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/text\/aliases\.styl}line{font-family:\0000313}}

/* line 2 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/text/ellipsis.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/text\/ellipsis\.styl}line{font-family:\000032}}

/* line 10 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/text/ellipsis.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/text\/ellipsis\.styl}line{font-family:\0000310}}

/* line 1 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/text/hide-text.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/text\/hide-text\.styl}line{font-family:\000031}}

/* line 8 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/text/hide-text.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/text\/hide-text\.styl}line{font-family:\000038}}

/* line 1 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/text/replace-text.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/text\/replace-text\.styl}line{font-family:\000031}}

/* line 9 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/text/replace-text.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/text\/replace-text\.styl}line{font-family:\000039}}

/* line 1 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/text/shadow-stroke.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/text\/shadow-stroke\.styl}line{font-family:\000031}}

/* line 2 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/text/shadow-stroke.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/text\/shadow-stroke\.styl}line{font-family:\000032}}

/* line 537 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/vendor.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/vendor\.styl}line{font-family:\00003537}}

/* line 91 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/vendor.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/vendor\.styl}line{font-family:\0000391}}

/* line 1 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/config.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/config\.styl}line{font-family:\000031}}

/* line 573 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/config.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/config\.styl}line{font-family:\00003573}}

/* line 1 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/size.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/size\.styl}line{font-family:\000031}}

/* line 4 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\000034}}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 14 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000314}}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 16 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000316}}
ol,
ul {
  list-style: none;
}

/* line 18 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000318}}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 20 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000320}}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22 : /Users/bjjb/Projects/ballinloughdentalcare/node_modules/nib/lib/nib/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/node_modules\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000322}}
a img {
  border: none;
}

/* line 44 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\0000344}}
html {
  height: 100%;
}

/* line 47 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\0000347}}
body {
  height: 100%;
  min-width: 100%;
  line-height: 1.75em;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  background: #fff;
  color: #6e6e6e;
}
@media screen and (min-width: 720px) {

/* line 54 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\0000354}}
  body {
    font-size: 13pt;
  }
}
@media screen and (min-width: 1080px) {

/* line 56 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\0000356}}
  body {
    font-size: 14pt;
  }
}
@media screen and (min-width: 1680px) {

/* line 58 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\0000358}}
  body {
    font-size: 16pt;
  }
}

/* line 63 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\0000363}}
h1,
h2,
h3 {
  font-weight: 700;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  color: #5b5b5b;
}

/* line 66 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\0000366}}
p {
  text-align: center;
}

/* line 68 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\0000368}}
p img {
  vertical-align: middle;
}

/* line 71 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\0000371}}
header {
  background-image: url("top-1280.svg"), url("overlay.png"), url("header.jpg");
  -webkit-background-size: 1280px 184px, auto, cover;
  -moz-background-size: 1280px 184px, auto, cover;
  background-size: 1280px 184px, auto, cover;
  background-position: bottom center, top left, center center;
  background-repeat: repeat-x, repeat, no-repeat;
  padding: 1em 2em 7em 2em;
  color: rgba(255,255,255,0.8);
  position: relative;
  text-align: center;
}
@media screen and (min-width: 1280px) {

/* line 76 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\0000376}}
  header {
    background-image: url("top-1600.svg"), url("overlay.png"), url("header.jpg");
    -webkit-background-size: 1600px 184px, auto, cover;
    -moz-background-size: 1600px 184px, auto, cover;
    background-size: 1600px 184px, auto, cover;
  }
}
@media screen and (min-width: 1280px) {

/* line 79 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\0000379}}
  header {
    background-image: url("top-3200.svg"), url("overlay.png"), url("header.jpg");
    -webkit-background-size: 3200px 460px, auto, cover;
    -moz-background-size: 3200px 460px, auto, cover;
    background-size: 3200px 460px, auto, cover;
  }
}

/* line 89 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\0000389}}
header h1 {
  font-size: 1.25em;
  color: #fff;
  text-align: center;
  margin-bottom: 1em;
}
@media screen and (min-width: 720px) {

/* line 91 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\0000391}}
  header h1 {
    font-size: 2em;
  }
}
@media screen and (min-width: 1080px) {

/* line 93 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\0000393}}
  header h1 {
    font-size: 2.25em;
  }
}
@media screen and (min-width: 1680px) {

/* line 95 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\0000395}}
  header h1 {
    font-size: 2.5em;
  }
}

/* line 100 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003100}}
header h1:before {
  content: '';
  display: block;
  background-image: url("logo.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  height: 5em;
  text-align: center;
  margin-bottom: 1em;
}

/* line 111 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003111}}
header p {
  line-height: 1.65em;
  margin: 0.25em 0 0 0;
}

/* line 115 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003115}}
h2 {
  text-align: center;
}

/* line 117 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003117}}
h2:before {
  display: block;
  content: '';
  height: 0.25em;
  margin: 1em;
  border-top: 1px solid rgba(224,224,224,0.75);
  border-bottom: 1px solid rgba(224,224,224,0.75);
}

/* line 124 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003124}}
h2:after {
  display: block;
  content: '';
  margin: 1em;
  height: 0.25em;
  border-top: 1px solid rgba(224,224,224,0.75);
  border-bottom: 1px solid rgba(224,224,224,0.75);
}

/* line 132 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003132}}
#welcome+ul {
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 135 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003135}}
#welcome+ul li {
  padding: 15em 1em 1em 1em;
  margin: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border: 1px solid rgba(214,214,214,0.75);
  text-align: center;
  position: relative;
}

/* line 143 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003143}}
#welcome+ul li:before {
  content: '';
  background-color: #e0e0e0;
  height: 15em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

/* line 155 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003155}}
#welcome+ul li h3 {
  margin-top: 1em;
}
@media screen and (min-width: 640px) {

/* line 157 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003157}}
  #welcome+ul li {
    border: none;
    height: 15em;
    padding-top: 1em;
    padding-left: 50%;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }

/* line 165 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003165}}
  #welcome+ul li:before {
    width: 50%;
  }

/* line 167 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003167}}
  #welcome+ul li:nth-child(even) {
    padding-left: 1em;
    padding-right: 50%;
  }

/* line 170 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003170}}
  #welcome+ul li:nth-child(even):before {
    left: auto;
    right: 0;
  }
}

/* line 173 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003173}}

/* line 174 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003174}}
#welcome+ul li:nth-of-type(1):before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/d/df/Family_Portrait.jpg");
}

/* line 176 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003176}}

/* line 177 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003177}}
#welcome+ul li:nth-of-type(2):before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/9/9f/US_Navy_110416-F-HS649-112_Royal_Australian_navy_dentist_Lt._Shannon_Godfrey_uses_anesthesia_on_a_Tongan_woman_before_extracting_a_tooth_during_Pac.jpg");
}

/* line 179 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003179}}

/* line 180 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003180}}
#welcome+ul li:nth-of-type(3):before {
  background-image: url("http://www.dentistryonsheppard.com/img/smiles/cosmetic-veneers-172-177.jpg");
}

/* line 182 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003182}}

/* line 183 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003183}}
#welcome+ul li:nth-of-type(4):before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/0/00/Crown_dentistry_gold_03_lateral.jpg");
}

/* line 185 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003185}}

/* line 186 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003186}}
#welcome+ul li:nth-of-type(5):before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/b/b3/Root_canal_on_a_patient.jpg");
}

/* line 188 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003188}}

/* line 189 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003189}}
#welcome+ul li:nth-of-type(6):before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/c/cd/Dentist.2.jpg");
}

/* line 191 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003191}}

/* line 192 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003192}}
#welcome+ul li:nth-of-type(7):before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/2/28/Tooth_polishing_9332.JPG");
}

/* line 194 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003194}}

/* line 195 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003195}}
#welcome+ul li:nth-of-type(8):before {
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/3/3c/Ca_in_situ,_cervix.jpg");
}

/* line 197 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003197}}

/* line 198 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003198}}
#welcome+ul li:nth-of-type(9):before {
  background-image: url("http://www.northernsound.ie/wp-content/uploads/2014/02/medical-cards.jpg");
}

/* line 201 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003201}}
#opening-hours+table {
  margin: auto;
  table-layout: fixed;
  margin-bottom: 1em;
}

/* line 204 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003204}}
#opening-hours+table td:first-child {
  text-align: right;
  padding-right: 1em;
  font-weight: 700;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  color: #5b5b5b;
}

/* line 208 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003208}}
#opening-hours+table td:last-child {
  padding-left: 1em;
  text-align: left;
}

/* line 213 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003213}}

/* line 214 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003214}}
#prices+p a[href='/prices.pdf'] {
  font-weight: 700;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  color: #5b5b5b;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #544d55;
  color: #fff;
  font-size: 0.9em;
  padding: 0 1.5em;
  text-decoration: none;
  min-width: 15em;
  line-height: 3.25em;
  display: inline-block;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  -moz-transition: color 0.3s linear, background-color 0.3s linear;
  -o-transition: color 0.3s linear, background-color 0.3s linear;
  -ms-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
  margin: 1em;
}

/* line 39 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\0000339}}
#prices+p a[href='/prices.pdf']:hover {
  color: #544d55;
  background-color: #e0e0e0;
}

/* line 218 : /Users/bjjb/Projects/ballinloughdentalcare/views/style.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/bjjb\/Projects\/ballinloughdentalcare\/views\/style\.styl}line{font-family:\00003218}}
footer {
  margin-top: 1em;
  padding: 1em;
  font-size: 0.75em;
  background-color: #e0e0e0;
  background-image: url("overlay.png");
  color: #fff;
}
/*# sourceMappingURL=views/style.css.map */